<div class="items-sell-contents">
  <header class="items-sell-header">
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">情報を入力</h2>
    <%= form_with model: @post, local: true do |f| %>


    <%= render 'shared/error_messages', model: f.object %>


    <%# 商品画像 %>
    <%# /商品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"タイトル（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          運動内容
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :workout, class:"items-text", id:"item-info", placeholder:"やるべき運動内容（必須 1,000文字まで）例）週3回ジムでの筋トレ,ベンチプレス10回3セット、スクワット10回3セット、チンニング10回3セット、腹筋30回3セット" ,rows:"7" ,maxlength:"1000" %>
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          食事内容
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :meal, class:"items-text", id:"item-info", placeholder:"毎日の食事内容（必須 1,000文字まで）例）朝：おにぎり1個,牛肉200g,お味噌汁 昼: おにぎり1個,鳥胸肉200g,野菜　夜: おにぎり1個,脂身の少ない肉200g,野菜　間食: ナッツ、プロテイン"  ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 商品の詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">詳細情報</div>
      <div class="form">
        <div class="weight-bold-text">
          性別
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          年代
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
        <div class="weight-bold-text">
          運動スタイル
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:style_id, Style.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
        <div class="weight-bold-text">
          目的
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:purpose_id, Purpose.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>
      </div>
    </div>
    <%# /配送について %>

    <%# 販売価格 %>

    <%# /販売価格 %>

    <%# 注意書き %>
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <p class="inc">
      ©︎PlusUltra,Inc.
    </p>
  </footer>
</div>