<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @post.title %>
    </h2>
    <div class="item-img-content">
    </div>
     <div class="item-explain-box">
      <span><%= "詳細情報" %></span>
    </div>
    <table class="detail-table">
      <tbody>
      <tr>
          <th class="detail-item">運動内容</th>
          <td class="detail-value"><%= @post.workout %></td>
        </tr>
        <tr>
          <th class="detail-item">食事内容</th>
          <td class="detail-value"><%= @post.meal %></td>
        </tr>
        <tr>
          <th class="detail-item">対象性別</th>
          <td class="detail-value"><%= @post.sex.name %></td>
        </tr>
        <tr>
          <th class="detail-item">対象年齢</th>
          <td class="detail-value"><%= @post.age.name %></td>
        </tr>
        <tr>
          <th class="detail-item">運動スタイル</th>
          <td class="detail-value"><%= @post.style.name %></td>
        </tr>
        <tr>
          <th class="detail-item">目的</th>
          <td class="detail-value"><%= @post.purpose.name %></td>
        </tr>
        <tr>
          <th class="detail-item">投稿者名</th>
          <td class="detail-value"><%= @post.user.nickname %></td>
        </tr>
      </tbody>
    </table>

    <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
    <% if user_signed_in? %>
    <% if current_user.id == @post.user.id %>
    <%= link_to "情報編集",  edit_post_path(@post.id), method: :get, class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", "#", method: :delete, class:"item-destroy" %>
    <% end %>
    <% end %>

    <%# //ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>

   
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な情報の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
</div>

<%= render "shared/footer" %>
